# Ignorar arquivos e diretórios de configuração do IntelliJ IDEA
.idea/
*.iml
*.iws

# Ignorar arquivos de configuração do projeto IntelliJ
*.ipr

# Ignorar arquivos compilados de classe Java
*.class

# Ignorar arquivos de log
*.log

# Ignorar arquivos do BlueJ
*.ctxt

# Ignorar arquivos temporários do Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignorar arquivos de pacotes Java e arquivamentos
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignorar logs de crash da máquina virtual Java
hs_err_pid*
replay_pid*

### VS Code ###
.vscode/